.not-found-wrapper{
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 60%;
}
.not-found-details h1{
    font-size: 5em;
    color: rgb(0, 0, 0);
}
.not-found-image img{
    width: 80%;
    height: 100%;
}
@media screen and (max-width:550px){
    .not-found-image{
        display: none;
    }
    .not-found-wrapper{
        text-align: center;
        margin-top: 50px;
        width: 100%;
    }
}